@{
    ViewBag.Title = "About me";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col-sm-6">
        <h2>Bio</h2>
        <p>My name is Sarah Frances Pickering. I am from a tiny farming town in KwaZulu-Natal called Mooi River. I started studying at the University of Pretoria in 2019. I stayed in res in my first year, and was meant to stay there in 2020 as well but I think we know how that went… I spent 2020 time on our farm in Mooi River and went online for my studies. I am studying a Bcom in informatics. My favourite subject is INF 272. I love my cat, tea and reading.</p>
    </div>
    <div class="col-sm-6">
        <h2>Sarah</h2>
        <img src="~/Media/My_Image.jpg" />
    </div>
</div>

